.box1 {
    box-sizing: border-box;
    margin: 50px;
    border: 5px solid #00000000;
    padding: 25px;
    height: 100px;
    width: 100px;
    background-color: black;
    background-clip: content-box;
}

.box2 {
    box-sizing: border-box;
    padding: 50px;
    border: 1px solid #dbdbdb;
    height: 300px;
    width: 300px;
    background-color: skyblue;
}

.box3 {
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    height: 100%;
    width: 100%;
    background-color: yellow;

}

.button {

    margin: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 5px 10px;
    /* border-width: 2px 5px 15px 15px; */
    padding: 20px 15px 10px;
    width: fit-content;
    height: fit-content;
    background-color: #fafafa;
    cursor:pointer
}

.circle {
    border-radius: 50%;
    width: 150px;
    height: 300px;
    background-color: skyblue;
}